html {
  background: linear-gradient(153deg, #CF3A5E 0%, #AE3A57 19%, #8D3951 38%, #6E364B 57%, #4E3144 75%, #2C2B3E 94%);
  height: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.row {
  margin:2%;
}

.app__location {
  /* Caracas, Venezuela: */
  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 14px;
  text-align: center;
}

.app__temperature {
  /* 76º: */
  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 136px;
  text-align: center;
  text-shadow: 0 1px 4px #4A4A4A;
}

.app__button {
  border: 1px solid white;
  padding: 10px;
  box-shadow: 0 1px 4px #4A4A4A;
}

.app__button:hover {
  border: 2px solid white;
}

.app__summary {
  /* Mostly cloudy: */
  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 32px;
  text-align: center;
}

.app__footer {
  /* Alberto De Lucca 2: */
  color: #FFFFFF;
  font-family: Helvetica-Bold;
  font-size: 14px;
  text-align: center;
}

.app__footer--light {
  /* Powered by Dark Sky: */
  font-family: Helvetica-Light;
}

.app_button {

}

