<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="app__location"></div>
      </div>
      <div class="row">
        <div class="app__temperature"></div>
      </div>
      <div class="row">
        <img src="./img/clear-day.svg" class="app__icon">
      </div>
      <div class="row">
        <div class="app__summary">Loading</div>
      </div>
      <div class="row">
        <div class="app__footer">
          <span><a href="https://github.com/adeluccar">Alberto De Lucca</a> &copy; 2017</span></br>
          <span class="app__footer app__footer--light">Powered by <a href="https://darksky.net/poweredby/" target="_blank">Dark Sky</a></span>
        </div>
      </div>
      <div class="row">
        <a href="#">
          <img id="button" src="img/celsius.svg" class="app__button is-fahrenheit">
        </a>
      </div>
    </div>
  </body>
</html>
