<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="app__location">Caracas, Venezuela</div>
      </div>
      <div class="row">
        <div class="app__temperature">76ยบ</div>
      </div>
      <div class="row">
        <img src="./img/cloudy.svg" class="app__icon">
      </div>
      <div class="row">
        <div class="app__summary">Mostly cloudy</div>
      </div>
      <div class="row">
        <div class="app__footer">
         <span>Alberto De Lucca &copy; 2017</span></br>
          <span class="app__footer app__footer--light">Powered by Dark Sky</span>
        </div>
      </div>
    <div class="row">
      <img src="img/fahrenheit.svg" class="app__button">
    </div>
    </div>
  </body>
</html>
